@using FarsBlog.Domain.DTOs.ViewModels.Article.Category;
@model FilterArticleCategoryViewModel

<div id="FilterList">

    @if (Model != null && Model.Entities != null && Model.Entities.Any())
    {
        <div class="table-responsive mb-4 text-nowrap text-center">
            <table class="table">
                <thead>
                    <tr>
                        <th>عنوان</th>  
                        <th>عملیات</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @foreach (var item in Model.Entities)
                    {
                        <tr>
                            <td>@(string.IsNullOrEmpty(item.Title) ? "بدون عنوان" : item.Title)</td>
                            <td>
                                @if (item.IsDelete)
                                {
                                    <a href="javascript:void(0)" class="text-info crouser" onclick="ModalRecoverConfirm('@Url.Action("Recover","ArticleCategory",new {area = "Admin",id=item.Id})','modal-xl')" title="بازیابی دسته بندی">
                                        <i class="bx bx-archive-out me-1"></i>
                                    </a>
                                }
                                else
                                {
                                    <a href="javascript:void(0)" class="text-info crouser" onclick="DeleteConfirm('@Url.Action("Delete","ArticleCategory",new {area = "Admin",id=item.Id})','modal-xl')" title="حذف دسته بندی">
                                        <i class="bx bx-trash me-1"></i>
                                    </a>
                                    <a href="javascript:void(0)" class="text-info crouser" onclick="loadModalElements('@Url.Action("Update","ArticleCategory",new {area = "Admin",id=item.Id})','modal-xl')" title="جزییات دسته بندی">
                                        <i class="bx bx-book me-1"></i>
                                    </a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <partial name="_AjaxPagingPartial" model="@Model.GetCurrentPaging()" />
    }
    else
    {
        <partial name="_NotFoundPartial" />
    }
</div>